* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #029616;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 20%;
  }


  li {
   list-style: none;
  }

  main {
    padding: 20px;
    background-color: #459750;
  }
  
  .hero {
    background-image: url('img/priroda.jpg');
  }
  li {
   list-style: none;
  }

  main {
    padding: 20px;
  }
  
  .hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #000000;
    color: #fff;
  }
  
  .hero h2 {
    margin-top: 0;
  }
  
  .btn {
    display: inline-block;
    background-color: #16161633;
    color: #fff;
    padding: 10px 20px; 
    text-decoration: none;
    border-radius: 5px;
  }
  
  .featured-plants {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .plant-card {
    flex-basis: 30%;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
  }
  
  .plant-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .plant-card h3 {
    margin-bottom: 10px;
  }
  
  .plant-card p {
    color: #555;
  }
  
  footer {
    background-color: #029616;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  
    .hero {
      padding: 50px 0;
    }
  
    .featured-plants {
      flex-direction: column;
    }
  
    .plant-card {
      flex-basis: 100%;
    }
  }
